<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Computer Adaptive Testing on Rails</title>
    <%= stylesheet_link_tag 'cat' %>
  </head>
  <body>
    <% if flash[:error] %>
      <div class="flash_error"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash_notice"><%= flash[:notice] %></div>
    <% end %>
    <div align="right">
      <% if @current_user %>
        <%=h @current_user.first_name -%>
        <%=h @current_user.surname -%>
        logged in | <%= link_to "logout", logout_path %>
      <% end %>
    </div>

    <table border="0" width="100%">
      <tr>
        <td valign="top">
          <% if @current_user %>
            <% if @current_user.is_admin %>
              <table cellspacing="0" cellpadding="8" class="menu">
                <tr class="odd">
                  <td><%= link_to 'Users', users_path %></td>
                </tr>
                <tr class="even">
                  <td><%= link_to 'Categories', categories_path %></td>
                </tr>
                <tr class="odd">
                  <td><%= link_to 'Items', items_path %></td>
                </tr>
                <tr class="even">
                  <td><%= link_to 'Exam Allocations', exam_allocations_path %></td>
                </tr>
              </table>
            <% else %>
              <table cellspacing="0" cellpadding="8" class="menu">
                <tr class="odd">
                  <td><%= link_to 'Exams', exam_list_path %></td>
                </tr>
              </table>
            <% end %>
          <% end %>
        </td>
        <td class="mainyield" align="center">
          <%= yield %>
        </td>
      </tr>
    </table>

  </body>
</html>